APP_HOST=
APP_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DB_HOST=
DB_PORT=

# JWT_SECRET must be 64 characters
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

# AUTH_DUMMY_PASSWORD must be 64 characters
AUTH_DUMMY_PASSWORD=
