APP_HOST=localhost
APP_PORT=any_unique_port

POSTGRES_DB=name_of_db
POSTGRES_USER=db_username
POSTGRES_PASSWORD=db_password

DB_HOST=localhost
DB_PORT=any_unique_port

JWT_SECRET=must_be_64_characters
JWT_ISSUER=jwt_issuer
JWT_AUDIENCE=jwt_audience

AUTH_DUMMY_PASSWORD=must_be_64_characters
