<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{STRICT, Asia/Manila} [%thread]) %-5level [TraceId-%X{traceId}] %logger{36} - %msg%n %rEx{full}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
